<div class="page-header">
  <h1>
    All Lotteries
    <!-- <a href="/lotteries/new" class="btn btn-lg btn-success">New Lottery</a> -->
  </h1>
</div>

<% @thismonth = Date.today.strftime("%m") %>

<% @total_sum = 0 %>

<% lot = @lotteries.first %>

<% lot.transactions.each do |item| %>
<% @total_sum = @total_sum + item.amount %>
<% end %>

<% @total_entries = @total_sum/5 %>


<% @your_deposit = 0  %>
<% current_user.transactions.each do |item| %>
<% @your_deposit = @your_deposit + item.amount %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>

        <th>Lottery #</th>
        <th>Total # of Entries</th>
        <th>Current Pool</th>
        <% if @your_deposit%5 == 0 %>
        <th>Your Chance</th>
        <% else %>
        <th>Your Chances</th>
        <% end %>
      </tr>

      <% @lotteries.each do |lottery| %>
      <tr>
        <td><%= lottery.id %></td>

        <td>
          <%= @total_entries %>
        </td>

      <td>
        $<%= @total_sum %>
      </td>

      <td><%= @your_deposit/5 %> in <%= @total_entries %></td>

        <!-- <a href="/lotteries/<%= lottery.id %>" class="btn btn-primary">Show</a>
        <a href="/lotteries/<%= lottery.id %>/edit" class="btn btn-warning">Edit</a>
        <a href="/delete_lottery/<%= lottery.id %>" class="btn btn-danger" rel="nofollow">Delete</a> -->

    </tr>
    <% end %>
  </table>
</div>
</div>


<h4> <a href="/transactions">Want to increase your chances? Deposit now!</a></h4>
