<div class="page-header">
  <h3>Lottery #<%= @lottery.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Transactions</dt>
      <dd><%= @lottery.transactions_id %></dd>

      <dt>User</dt>
      <dd><%= @lottery.user_id %></dd>

      <dt>Amount</dt>
      <dd><%= @lottery.amount %></dd>

      <dt>Raffle number</dt>
      <dd><%= @lottery.raffle_number %></dd>

      <dt>Date</dt>
      <dd><%= @lottery.date %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/lotteries" class="btn btn-primary">
        Back
      </a>
      <a href="/lotteries/<%= @lottery.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_lottery/<%= @lottery.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
