<div class="page-header">
  <h1>
    Transactions
    <a href="/transactions/new" class="btn btn-lg btn-success">New Transaction</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>

        <th>Amount</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>

      <% @transactions.each do |transaction| %>
      <tr>

        <td><%= transaction.amount %></td>
        <td><%= transaction.date %></td>

        <td>
          <a href="/transactions/<%= transaction.id %>" class="btn btn-primary">Show</a>
          <a href="/transactions/<%= transaction.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_transaction/<%= transaction.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

  <div class="col-md-offset-1 col-md-5">
    <h3>To Date You have Saved:</h3>
    <% @transactions.each do |amount| %>
    total = <% @transactions.amount %> + <% @transactions.amount %>
    <% end %>
    total
  </div>

</div>
