<div class="page-header">
  <h1>
    Transactions
    <a href="/transactions/new" class="btn btn-lg btn-success">New Transaction</a>
  </h1>
</div>

<% @thismonth = Date.today.strftime("%m") %>
<% @user_info = @transactions.select{ |item| item.user_id == current_user.id} %>
<% @current_month = @user_info.select{ |item| item.date.strftime("%m") == @thismonth} %>

<div class="row">
<div class="col-md-offset-1 col-md-5">
  <h3>To Date You Have Saved:</h3>
  <% @total_sum = 0 %>
  <% @user_info.each do |item| %>
  <% @total_sum = @total_sum + item.amount %>
  <% end %>
  Total: $<%= @total_sum %>
</div>

<div class="col-md-5">

  <% @thismonth = Date.today.strftime("%m") %>
  <% @current_sum = 0 %>

  <% @current_month.each do |item| %>
  <% @current_sum  = @current_sum  + item.amount  %>

  <% end %>

  <h3>This Month You Have Saved:</h3>
    Total: $<%= @current_sum  %>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>

        <th>Amount</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>


      <tr>

        <% @user_info.each do |transaction| %>
        <td>$<%= transaction.amount %></td>
        <td><%= transaction.date %></td>

        <td>
          <a href="/transactions/<%= transaction.id %>" class="btn btn-primary">Show</a>
          <!-- <a href="/transactions/<%= transaction.id %>/edit" class="btn btn-warning">Edit</a> -->
          <!-- <a href="/delete_transaction/<%= transaction.id %>" class="btn btn-danger" rel="nofollow">Delete</a> -->
        </td>
      </tr>
      <% end %>
    </table>
  </div>


  </div>
